<ion-header>
  <ion-toolbar>
    <ion-title>data</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-card>
  <section padding="true" marging="true">
    <h4> <strong>Period:</strong>  2020/04/01 <br>
      <strong>Organit Name:</strong>  District Yamoussoukro <br>
      <strong>Data:</strong>  VIH - CAIR<br>
    </h4>
  </section>
</ion-card>

<ion-content>

</ion-content>
<ion-footer>
  <ion-card color="danger">
    <ion-card-content>
      <h4>Model of IVICO - JSI</h4><br>
    </ion-card-content>
  </ion-card>
</ion-footer>
